<Unleashx>
		<Settings>
				<Preference>
						<AbortOnError>Yes</AbortOnError>
						<ContextMenu AllowUninstall="Yes" AllowItemEdit="No" AllowRecentList="No" LinkToSave="Yes">
						</ContextMenu>
						<Skin Path="Skins">ftp</Skin>
						<VideoSettings Soften="No" Widescreen="No" UsePAL60="No" FastRefresh="Yes" EnableTextureCompression="No" Use720P="no" Use480P="yes">
						</VideoSettings>
						<LiveUpdate AutoCheck="No">
						</LiveUpdate>
						<AutoVideoMode MultiRegion="Off" UsePAL60="No">no</AutoVideoMode>
						<Games AutoLaunch="No">
						</Games>
						<DVD AutoLaunch="No">
						</DVD>
						<AudioCD AutoLaunch="No">
						</AudioCD>
						<EnableDriveF>Yes</EnableDriveF>
						<EnableDriveG>Yes</EnableDriveG>
						<FanSpeed>1.00</FanSpeed>
						<Use24HFormat>Yes</Use24HFormat>
						<SNTP Synchronize="Yes" HTTP="Yes">129.6.15.28</SNTP>
						<AutoSetTime>Yes</AutoSetTime>
				</Preference>
				<Network Type="Static" Enable="Yes">
						<AutoDetect>yes</AutoDetect>
						<IP>192.168.1.6</IP>
						<Subnet>255.255.255.0</Subnet>
						<Gateway>192.168.1.1</Gateway>
				</Network>
				<FTP Enable="Yes">
						<MaxUsers>5</MaxUsers>
				</FTP>
		</Settings>
		<Menu>
				<Item>Static FTP Mode</Item>
		</Menu>
</Unleashx>