<window id="4">
	<defaultcontrol>50</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
		<include>Global.Backgrounds</include>
		<include>Window.Header</include>
		<control type="group">
			<include>Dialog.Effect.Zoom.Fast</include>
			<control type="image">
				<left>201</left>
				<top>81</top>
				<width>878</width>
				<height>558</height>
				<aspectratio>stretch</aspectratio>
				<texture>windows\settings\main.png</texture>
			</control>
			<control type="image">
				<left>219</left>
				<top>99</top>
				<width>842</width>
				<height>61</height>
				<aspectratio>stretch</aspectratio>
				<texture>windows\settings\header.png</texture>
			</control>
			<control type="label">
				<left>250</left>
				<top>110</top>
				<width>780</width>
				<height>28</height>
				<font>size_28</font>
				<scroll>true</scroll>
				<align>left</align>
				<textcolor>4_header_label</textcolor>
				<label>$LOCALIZE[5]</label>
			</control>
			<control type="grouplist">
				<description>Control Info</description>
				<left>250</left>
				<top>568</top>
				<width>780</width>
				<height>80</height>
				<itemgap>10</itemgap>
				<orientation>Horizontal</orientation>
				<align>center</align>
				<!-- A Button -->
				<control type="image">
					<left>0</left>
					<top>0</top>
					<width>32</width>
					<height>32</height>
					<aspectratio>stretch</aspectratio>
					<texture>pad_buttons\dialogs\a_button.png</texture>
				</control>
				<control type="label">
					<left>0</left>
					<top>0</top>
					<width min="80" max="147">auto</width>
					<height>20</height>
					<font>size_19</font>
					<align>left</align>
					<textcolor>4_context_label</textcolor>
					<label>$LOCALIZE[424]</label>
					<include>Context.Buttons.Text.Align</include>
				</control>
				<!-- B Button -->
				<control type="image">
					<left>0</left>
					<top>0</top>
					<width>32</width>
					<height>32</height>
					<aspectratio>stretch</aspectratio>
					<texture>pad_buttons\dialogs\B_button.png</texture>
				</control>
				<control type="label">
					<left>0</left>
					<top>0</top>
					<width min="80" max="147">auto</width>
					<height>20</height>
					<font>size_19</font>
					<align>left</align>
					<textcolor>4_context_label</textcolor>
					<label>$LOCALIZE[31151]</label>
					<include>Context.Buttons.Text.Align</include>
				</control>
				<!-- Black Button -->
				<control type="image">
					<left>0</left>
					<top>0</top>
					<width>32</width>
					<height>32</height>
					<aspectratio>stretch</aspectratio>
					<texture>pad_buttons\dialogs\Black_button.png</texture>
				</control>
				<control type="label">
					<left>0</left>
					<top>0</top>
					<width min="80" max="147">auto</width>
					<height>20</height>
					<font>size_19</font>
					<align>left</align>
					<textcolor>4_context_label</textcolor>
					<label>$LOCALIZE[33073]</label>
					<include>Context.Buttons.Text.Align</include>
				</control>
			</control>
			<!-- Content List -->
			<control type="list" id="50">
				<left>250</left>
				<top>180</top>
				<width>780</width>
				<height>370</height>
				<onleft>-</onleft>
				<onright>-</onright>
				<onup>50</onup>
				<ondown>50</ondown>
				<viewtype>list</viewtype>
				<pagecontrol>80</pagecontrol>
				<scrolltime>200</scrolltime>
				<orientation>vertical</orientation>
				<itemlayout height="74" width="796">
					<control type="image">
						<left>0</left>
						<top>-2</top>
						<width>780</width>
						<height>76</height>
						<aspectratio>stretch</aspectratio>
						<texture>windows\settings\button_no_focus.png</texture>
					</control>
					<control type="image">
						<left>4</left>
						<top>4</top>
						<width>64</width>
						<height>64</height>
						<aspectratio>scale</aspectratio>
						<texture background="true">$INFO[listitem.Icon]</texture>
					</control>
					<control type="label">
						<left>88</left>
						<top>0</top>
						<width>655</width>
						<height>23</height>
						<align>left</align>
						<font>size_24</font>
						<textcolor>4_label_nofocus</textcolor>
						<label>$INFO[listitem.Label]</label>
					</control>
					<control type="label">
						<left>88</left>
						<top>39</top>
						<width>655</width>
						<height>23</height>
						<align>left</align>
						<font>size_19</font>
						<textcolor>4_label_nofocus</textcolor>
						<label>$INFO[ListItem.label2]</label>
					</control>
				</itemlayout>
				<focusedlayout height="74" width="780">
					<control type="image">
						<left>0</left>
						<top>-2</top>
						<width>780</width>
						<height>76</height>
						<aspectratio>stretch</aspectratio>
						<texture>windows\settings\button_focus.png</texture>
					</control>
					<control type="image">
						<left>4</left>
						<top>4</top>
						<width>64</width>
						<height>64</height>
						<aspectratio>scale</aspectratio>
						<texture background="true">$INFO[listitem.Icon]</texture>
					</control>
					<control type="label">
						<left>88</left>
						<top>0</top>
						<width>655</width>
						<height>23</height>
						<align>left</align>
						<font>size_24</font>
						<textcolor>4_label</textcolor>
						<selectedcolor>4_label</selectedcolor>
						<label>$INFO[listitem.Label]</label>
					</control>
					<control type="label">
						<left>88</left>
						<top>39</top>
						<width>655</width>
						<height>23</height>
						<align>left</align>
						<font>size_19</font>
						<textcolor>4_label</textcolor>
						<selectedcolor>4_label</selectedcolor>
						<label>$INFO[ListItem.label2]</label>
					</control>
				</focusedlayout>
				<content>
					<item>
						<label>213</label>
						<label2>$LOCALIZE[31529]</label2>
						<onclick>ActivateWindow(guicalibration)</onclick>
						<icon>thumbs\Calibrate.png</icon>
					</item>
					<item>
						<label>480</label>
						<label2>$LOCALIZE[31152]</label2>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
						<icon>thumbs\Appearance.png</icon>
					</item>
					<item>
						<label>7</label>
						<label2>$LOCALIZE[31158]</label2>
						<onclick>ActivateWindow(FileManager)</onclick>
						<icon>thumbs\FileManager.png</icon>
					</item>
					<item>
						<label>705</label>
						<label2>$LOCALIZE[31155]</label2>
						<onclick>ActivateWindow(NetworkSettings)</onclick>
						<icon>thumbs\Network.png</icon>
					</item>
					<item>
						<label>13000</label>
						<label2>$LOCALIZE[31156]</label2>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>thumbs\Settings.png</icon>
					</item>
					<item>
						<label>138</label>
						<label2>$LOCALIZE[31161]</label2>
						<onclick>ActivateWindow(SystemInfo)</onclick>
						<icon>thumbs\SystemInfo.png</icon>
					</item>
				</content>
			</control>
			<control type="scrollbar" id="80">
				<left>1030</left>
				<top>180</top>
				<width>4</width>
				<height>370</height>
				<texturesliderbackground border="2,2,2,2">scrollbar_bar_back2.png</texturesliderbackground>
				<texturesliderbar border="2,2,2,2">scrollbar_bar_focus-vertical.png</texturesliderbar>
				<texturesliderbarfocus border="2,2,2,2">scrollbar_bar_focus-vertical.png</texturesliderbarfocus>
				<textureslidernib>-</textureslidernib>
				<textureslidernibfocus>-</textureslidernibfocus>
				<onleft>50</onleft>
				<ondown>-</ondown>
				<showonepage>false</showonepage>
				<orientation>vertical</orientation>
				<animation reversible="false" effect="fade" start="100" end="20" time="100" condition="!Control.HasFocus(80)">Conditional</animation>
				<animation reversible="false" effect="fade" start="20" end="100" time="100">Focus</animation>
			</control>
		</control>
	</controls>
</window>