<window id="4">
		<defaultcontrol>50</defaultcontrol>
		<allowoverlay>no</allowoverlay>
		<controls>
				<include>CommonBackground</include>
				<include>WindowHeader</include>
				<control type="group">
						<include>DialogEffectZoomFast</include>
						<control type="image">
								<posx>201</posx>
								<posy>81</posy>
								<width>878</width>
								<height>558</height>
								<aspectratio>stretch</aspectratio>
								<texture>windows\settings\main.png</texture>
						</control>
						<control type="image">
								<posx>219</posx>
								<posy>99</posy>
								<width>842</width>
								<height>61</height>
								<aspectratio>stretch</aspectratio>
								<texture>windows\settings\header.png</texture>
						</control>
						<control type="label">
								<posx>250</posx>
								<posy>110</posy>
								<width>780</width>
								<height>28</height>
								<font>size_28</font>
								<scroll>true</scroll>
								<align>left</align>
								<textcolor>windows_header_label</textcolor>
								<label>$LOCALIZE[5]</label>
						</control>
						<control type="grouplist">
								<description>Control Info</description>
								<posx>250</posx>
								<posy>568</posy>
								<width>780</width>
								<height>80</height>
								<itemgap>10</itemgap>
								<orientation>Horizontal</orientation>
								<align>center</align>
								<!-- A Button -->
								<control type="image">
										<posx>0</posx>
										<posy>0</posy>
										<width>32</width>
										<height>32</height>
										<aspectratio>stretch</aspectratio>
										<texture>pad_buttons\a_button.png</texture>
								</control>
								<control type="label">
										<posx>0</posx>
										<posy>0</posy>
										<width min="80" max="147">auto</width>
										<height>20</height>
										<font>size_19</font>
										<align>left</align>
										<textcolor>windows_context_label</textcolor>
										<label>$LOCALIZE[424]</label>
										<include>Context_Buttons_Text_Align</include>
								</control>
								<!-- B Button -->
								<control type="image">
										<posx>0</posx>
										<posy>0</posy>
										<width>32</width>
										<height>32</height>
										<aspectratio>stretch</aspectratio>
										<texture>pad_buttons\B_button.png</texture>
								</control>
								<control type="label">
										<posx>0</posx>
										<posy>0</posy>
										<width min="80" max="147">auto</width>
										<height>20</height>
										<font>size_19</font>
										<align>left</align>
										<textcolor>windows_context_label</textcolor>
										<label>Back</label>
										<include>Context_Buttons_Text_Align</include>
								</control>
						</control>
						<!-- Content List -->
						<control type="list" id="50">
								<posx>250</posx>
								<posy>180</posy>
								<width>780</width>
								<height>370</height>
								<onleft>-</onleft>
								<onright>19</onright>
								<onup>50</onup>
								<ondown>50</ondown>
								<viewtype>list</viewtype>
								<pagecontrol>80</pagecontrol>
								<scrolltime>200</scrolltime>
								<orientation>vertical</orientation>
								<preloaditems>2</preloaditems>
								<itemlayout height="74" width="796">
										<control type="image">
												<posx>0</posx>
												<posy>-1</posy>
												<width>780</width>
												<height>74</height>
												<aspectratio>stretch</aspectratio>
												<texture>windows\settings\button_no_focus.png</texture>
										</control>
										<control type="image">
												<posx>4</posx>
												<posy>4</posy>
												<width>64</width>
												<height>64</height>
												<aspectratio>scale</aspectratio>
												<texture background="true">$INFO[listitem.Icon]</texture>
										</control>
										<control type="label">
												<posx>88</posx>
												<posy>0</posy>
												<width>655</width>
												<height>23</height>
												<align>left</align>
												<font>size_24</font>
												<textcolor>windows_label_no_focus</textcolor>
												<label>$INFO[listitem.Label]</label>
										</control>
										<control type="label">
												<posx>88</posx>
												<posy>41</posy>
												<width>655</width>
												<height>23</height>
												<align>left</align>
												<font>size_19</font>
												<textcolor>windows_label_no_focus</textcolor>
												<label>$INFO[ListItem.label2]</label>
										</control>
								</itemlayout>
								<focusedlayout height="74" width="780">
										<control type="image">
												<posx>0</posx>
												<posy>0</posy>
												<width>780</width>
												<height>74</height>
												<aspectratio>stretch</aspectratio>
												<texture>windows\settings\button_no_focus.png</texture>
										</control>
										<control type="image">
												<posx>0</posx>
												<posy>1</posy>
												<width>780</width>
												<height>72</height>
												<aspectratio>stretch</aspectratio>
												<texture>windows\settings\button_focus.png</texture>
										</control>
										<control type="image">
												<posx>4</posx>
												<posy>4</posy>
												<width>64</width>
												<height>64</height>
												<aspectratio>scale</aspectratio>
												<texture background="true">$INFO[listitem.Icon]</texture>
										</control>
										<control type="label">
												<posx>88</posx>
												<posy>0</posy>
												<width>655</width>
												<height>23</height>
												<align>left</align>
												<font>size_24</font>
												<textcolor>windows_label_focus</textcolor>
												<selectedcolor>windows_label_focus</selectedcolor>
												<label>$INFO[listitem.Label]</label>
										</control>
										<control type="label">
												<posx>88</posx>
												<posy>41</posy>
												<width>655</width>
												<height>23</height>
												<align>left</align>
												<font>size_19</font>
												<textcolor>windows_label_focus</textcolor>
												<selectedcolor>windows_label_focus</selectedcolor>
												<label>$INFO[ListItem.label2]</label>
										</control>
								</focusedlayout>
								<content>
										<item>
												<label>213</label>
												<label2>$LOCALIZE[31529]</label2>
												<onclick>ActivateWindow(guicalibration)</onclick>
												<icon>thumbs/Calibrate.png</icon>
										</item>
										<item>
												<label>480</label>
												<label2>$LOCALIZE[31152]</label2>
												<onclick>ActivateWindow(AppearanceSettings)</onclick>
												<icon>thumbs/Appearance.png</icon>
										</item>
										<item>
												<label>157</label>
												<label2>$LOCALIZE[31153]</label2>
												<onclick>ActivateWindow(VideosSettings)</onclick>
												<icon>thumbs/Videos.png</icon>
										</item>
										<item>
												<label>0</label>
												<label2>$LOCALIZE[31154]</label2>
												<onclick>ActivateWindow(ProgramsSettings)</onclick>
												<icon>thumbs/Programs.png</icon>
										</item>
										<item>
												<label>705</label>
												<label2>$LOCALIZE[31155]</label2>
												<onclick>ActivateWindow(NetworkSettings)</onclick>
												<icon>thumbs/Network.png</icon>
										</item>
										<item>
												<label>13000</label>
												<label2>$LOCALIZE[31156]</label2>
												<onclick>ActivateWindow(SystemSettings)</onclick>
												<icon>thumbs/Settings.png</icon>
										</item>
										<item>
												<label>7</label>
												<label2>$LOCALIZE[31157]</label2>
												<onclick>ActivateWindow(FileManager)</onclick>
												<icon>thumbs/FileManager.png</icon>
										</item>
								</content>
						</control>
						<control type="scrollbar" id="80">
								<posx>1030</posx>
								<posy>180</posy>
								<width>4</width>
								<height>370</height>
								<texturesliderbackground border="2,2,2,2">scrollbar_bar_back2.png</texturesliderbackground>
								<texturesliderbar border="2,2,2,2">scrollbar_bar_focus-vertical.png</texturesliderbar>
								<texturesliderbarfocus border="2,2,2,2">scrollbar_bar_focus-vertical.png</texturesliderbarfocus>
								<textureslidernib>-</textureslidernib>
								<textureslidernibfocus>-</textureslidernibfocus>
								<onleft>50</onleft>
								<ondown>-</ondown>
								<showonepage>false</showonepage>
								<orientation>vertical</orientation>
								<animation reversible="false" effect="fade" start="100" end="20" time="100" condition="!Control.HasFocus(80)">Conditional</animation>
								<animation reversible="false" effect="fade" start="20" end="100" time="100">Focus</animation>
						</control>
				</control>
		</controls>
</window>