<window id="4">
	<defaultcontrol>50</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<onload>Skin.Reset(SelectPreviewMode)</onload>
	<controls>
		<include>Global.Backgrounds</include>
		<control type="group">
			<include>Dialog.Effect.Zoom.Fast</include>
			<control type="image">
				<left>201</left>
				<top>81</top>
				<width>878</width>
				<height>558</height>
				<aspectratio>stretch</aspectratio>
				<texture>windows\settings\main.png</texture>
			</control>
			<control type="image">
				<left>219</left>
				<top>99</top>
				<width>842</width>
				<height>61</height>
				<aspectratio>stretch</aspectratio>
				<texture>windows\settings\header.png</texture>
			</control>
			<control type="label">
				<left>250</left>
				<top>110</top>
				<width>780</width>
				<height>28</height>
				<font>size_28</font>
				<scroll>true</scroll>
				<align>left</align>
				<textcolor>4_header_label</textcolor>
				<label>$LOCALIZE[5]</label>
			</control>
			<control type="grouplist">
				<description>Control Info</description>
				<left>250</left>
				<top>568</top>
				<width>780</width>
				<height>80</height>
				<itemgap>10</itemgap>
				<orientation>Horizontal</orientation>
				<align>center</align>
				<!-- A Button -->
				<control type="image">
					<left>0</left>
					<top>0</top>
					<width>32</width>
					<height>32</height>
					<aspectratio>stretch</aspectratio>
					<texture>pad_buttons\dialogs\a_button.png</texture>
				</control>
				<control type="label">
					<left>0</left>
					<top>0</top>
					<width min="80" max="147">auto</width>
					<height>32</height>
					<font>size_19</font>
					<align>left</align>
					<aligny>center</aligny>
					<textcolor>4_context_label</textcolor>
					<label>$LOCALIZE[424]</label>
				</control>
				<!-- B Button -->
				<control type="image">
					<left>0</left>
					<top>0</top>
					<width>32</width>
					<height>32</height>
					<aspectratio>stretch</aspectratio>
					<texture>pad_buttons\dialogs\B_button.png</texture>
				</control>
				<control type="label">
					<left>0</left>
					<top>0</top>
					<width min="80" max="147">auto</width>
					<height>32</height>
					<font>size_19</font>
					<align>left</align>
					<aligny>center</aligny>
					<textcolor>4_context_label</textcolor>
					<label>$LOCALIZE[31151]</label>
				</control>
				<!-- Black Button -->
				<control type="image">
					<left>0</left>
					<top>0</top>
					<width>32</width>
					<height>32</height>
					<aspectratio>stretch</aspectratio>
					<texture>pad_buttons\dialogs\Black_button.png</texture>
				</control>
				<control type="label">
					<left>0</left>
					<top>0</top>
					<width min="80" max="147">auto</width>
					<height>32</height>
					<font>size_19</font>
					<align>left</align>
					<aligny>center</aligny>
					<textcolor>4_context_label</textcolor>
					<label>$LOCALIZE[33073]</label>
				</control>
			</control>
			<!-- Content List -->
			<control type="list" id="50">
				<left>250</left>
				<top>180</top>
				<width>780</width>
				<height>370</height>
				<onleft>-</onleft>
				<onright>-</onright>
				<onup>50</onup>
				<ondown>50</ondown>
				<viewtype>list</viewtype>
				<pagecontrol>80</pagecontrol>
				<scrolltime>200</scrolltime>
				<orientation>vertical</orientation>
				<include>Settings.Root.Button.Values</include>
				<content>
					<item id="1">
						<label>$LOCALIZE[31162]</label>
						<label2>$LOCALIZE[31160]</label2>
						<onclick>ActivateWindow(1111)</onclick>
						<icon>thumbs\SkinSettings.png</icon>
					</item>
					<item id="2">
						<label>Downloader</label>
						<label2>$LOCALIZE[31159]</label2>
						<onclick>ActivateWindow(1901)</onclick>
						<icon>thumbs\downloader.png</icon>
					</item>
					<item id="3">
						<label>480</label>
						<label2>$LOCALIZE[31152]</label2>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
						<icon>thumbs\Appearance.png</icon>
					</item>
					<item id="4">
						<label>7</label>
						<label2>$LOCALIZE[31158]</label2>
						<onclick>ActivateWindow(FileManager)</onclick>
						<icon>thumbs\FileManager.png</icon>
					</item>
					<item id="5">
						<label>2</label>
						<label2>$LOCALIZE[31157]</label2>
						<onclick>ActivateWindow(MusicSettings)</onclick>
						<icon>thumbs\Music.png</icon>
					</item>
					<item id="6">
						<label>705</label>
						<label2>$LOCALIZE[31155]</label2>
						<onclick>ActivateWindow(NetworkSettings)</onclick>
						<icon>thumbs\Network.png</icon>
					</item>
					<item id="7">
						<label>0</label>
						<label2>$LOCALIZE[31154]</label2>
						<onclick>ActivateWindow(ProgramsSettings)</onclick>
						<icon>thumbs\Programs.png</icon>
					</item>
					<item id="8">
						<label>13000</label>
						<label2>$LOCALIZE[31156]</label2>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>thumbs\Settings.png</icon>
					</item>
					<item id="9">
						<label>138</label>
						<label2>$LOCALIZE[31161]</label2>
						<onclick>ActivateWindow(SystemInfo)</onclick>
						<icon>thumbs\SystemInfo.png</icon>
					</item>
					<item id="10">
						<label>157</label>
						<label2>$LOCALIZE[31153]</label2>
						<onclick>ActivateWindow(VideosSettings)</onclick>
						<icon>thumbs\Videos.png</icon>
					</item>
				</content>
			</control>
			<control type="scrollbar" id="80">
				<left>1030</left>
				<top>180</top>
				<width>4</width>
				<height>370</height>
				<include>Fake.ScrollBar.Vertical</include>
			</control>
		</control>
	</controls>
</window>