<window id="4">
		<defaultcontrol>50</defaultcontrol>
		<allowoverlay>no</allowoverlay>
		<controls>
				<include>CommonBackground</include>
				<control type="group">
						<include>ViewVisibleEffect</include>
						<control type="panel" id="50">
								<posx>250</posx>
								<posy>200</posy>
								<width>820</width>
								<height>390</height>
								<onleft>-</onleft>
								<onright>-</onright>
								<onup>-</onup>
								<ondown>-</ondown>
								<viewtype label="21371">panel</viewtype>
								<pagecontrol>-</pagecontrol>
								<scrolltime>200</scrolltime>
								<preloaditems>2</preloaditems>
								<itemlayout height="130" width="256">
										<control type="image">
												<posx>2</posx>
												<posy>2</posy>
												<width>252</width>
												<height>126</height>
												<texture>thumbnf.png</texture>
										</control>
										<control type="image">
												<posx>7</posx>
												<posy>7</posy>
												<width>242</width>
												<height>90</height>
												<texture>$INFO[listitem.icon]</texture>
												<bordertexture border="5">black-back.png</bordertexture>
												<bordersize>1</bordersize>
												<aspectratio>stretch</aspectratio>
										</control>
										<control type="label">
												<posx>10</posx>
												<posy>100</posy>
												<width>236</width>
												<height>20</height>
												<font>font20</font>
												<textcolor>white</textcolor>
												<selectedcolor>blue</selectedcolor>
												<align>left</align>
												<aligny>center</aligny>
												<label>$INFO[ListItem.Label]</label>
										</control>
								</itemlayout>
								<focusedlayout height="256" width="190">
										<control type="image">
												<posx>2</posx>
												<posy>2</posy>
												<width>252</width>
												<height>126</height>
												<texture>thumbfo.png</texture>
										</control>
										<control type="image">
												<posx>7</posx>
												<posy>7</posy>
												<width>242</width>
												<height>90</height>
												<texture>$INFO[listitem.icon]</texture>
												<bordertexture border="5">black-back.png</bordertexture>
												<bordersize>1</bordersize>
												<aspectratio>stretch</aspectratio>
										</control>
										<control type="label">
												<posx>10</posx>
												<posy>100</posy>
												<width>236</width>
												<height>20</height>
												<font>font20</font>
												<textcolor>black</textcolor>
												<selectedcolor>blue2</selectedcolor>
												<align>left</align>
												<aligny>center</aligny>
												<label>$INFO[ListItem.Label]</label>
										</control>
								</focusedlayout>
								<content>
										<item>
												<label>480</label>
												<label2>31400</label2>
												<onclick>ActivateWindow(AppearanceSettings)</onclick>
												<icon>thumbs/Appearance.png</icon>
										</item>
										<item>
												<label>705</label>
												<label2>31405</label2>
												<onclick>ActivateWindow(NetworkSettings)</onclick>
												<icon>thumbs/Network.png</icon>
										</item>
										<item>
												<label>13000</label>
												<label2>31406</label2>
												<onclick>ActivateWindow(SystemSettings)</onclick>
												<icon>thumbs/Settings.png</icon>
										</item>
										<item>
												<label>0</label>
												<label2>31408</label2>
												<onclick>ActivateWindow(ProgramsSettings)</onclick>
												<icon>thumbs/Programs.png</icon>
										</item>
										<item>
												<label>7</label>
												<label2>31409</label2>
												<onclick>ActivateWindow(FileManager)</onclick>
												<icon>thumbs/FileManager.png</icon>
										</item>
										<item>
												<label>214</label>
												<label2>31400</label2>
												<onclick>ActivateWindow(guicalibration)</onclick>
												<icon>thumbs/Appearance.png</icon>
										</item>
								</content>
						</control>
				</control>
				<include>WindowHeader</include>
				<control type="image">
						<posx>20</posx>
						<posy>5</posy>
						<width>40</width>
						<height>35</height>
						<aspectratio>keep</aspectratio>
						<texture>icon_system.png</texture>
						<include>Window_OpenClose_Animation</include>
				</control>
				<control type="label">
						<description>Header label</description>
						<posx>70</posx>
						<posy>5</posy>
						<width>700</width>
						<height>35</height>
						<align>left</align>
						<aligny>center</aligny>
						<font>font23</font>
						<textcolor>white</textcolor>
						<label>$LOCALIZE[5]</label>
						<include>Window_OpenClose_Animation</include>
				</control>
				<include>WindowFooter</include>
				<include>BehindDialogFadeOut</include>
				<!-- Debug Info -->
				<includes>Debug</includes>
		</controls>
</window>