<screen>
		<item>
				<type>image</type>
				<posX>0</posX>
				<posY>90</posY>
				<width>640</width>
				<height>390</height>
				<texture>background_Bottom</texture>
		</item>
		<item>
				<type>image</type>
				<posX>0</posX>
				<posY>0</posY>
				<width>640</width>
				<height>90</height>
				<texture>background_Top2</texture>
		</item>
		<item>
				<type>image</type>
				<posX>35</posX>
				<posY>160</posY>
				<width>128</width>
				<height>128</height>
				<texture>settings</texture>
		</item>
		<item>
				<type>image</type>
				<posX>30</posX>
				<posY>342</posY>
				<width>32</width>
				<height>25</height>
				<texture>A_Button</texture>
		</item>
		<item>
				<type>image</type>
				<posX>30</posX>
				<posY>370</posY>
				<width>32</width>
				<height>25</height>
				<texture>Back_Button</texture>
		</item>
		<item>
				<type>text</type>
				<posX>70</posX>
				<posY>340</posY>
				<color>FFFFFFFF</color>
				<text>Enter/Change\\nBack</text>
				<font>font1</font>
		</item>
		<item>
				<type>text</type>
				<posX>50</posX>
				<posY>50</posY>
				<color>FFFFFFFF</color>
				<text>Settings</text>
				<font>font1</font>
		</item>
		<item>
				<type>image</type>
				<showID>1</showID>
				<relX>-10</relX>
				<relY>-1</relY>
				<width>410</width>
				<height>20</height>
				<texture>List-Focus</texture>
		</item>
		<item>
				<type>menu</type>
				<showID>1</showID>
				<posX>200</posX>
				<posY>110</posY>
				<vspace>20</vspace>
				<widthpx>390</widthpx>
				<color>FFFFFFFF</color>
				<highlight>FFFFFFFF</highlight>
				<font>Arial_10</font>
		</item>
		<item>
				<type>text</type>
				<showID>2</showID>
				<posX>50</posX>
				<posY>100</posY>
				<color>FFFFFFFF</color>
				<text>General</text>
				<font>font1</font>
		</item>
		<item>
				<type>image</type>
				<showID>2</showID>
				<relX>-10</relX>
				<relY>-1</relY>
				<width>410</width>
				<height>20</height>
				<texture>List-Focus</texture>
		</item>
		<item>
				<type>menu</type>
				<showID>2</showID>
				<posX>200</posX>
				<posY>110</posY>
				<vspace>20</vspace>
				<hspace>300</hspace>
				<widthpx>390</widthpx>
				<color>FFFFFFFF</color>
				<highlight>FFFFFFFF</highlight>
				<font>Arial_10</font>
		</item>
		<item>
				<type>text</type>
				<showID>3</showID>
				<posX>50</posX>
				<posY>100</posY>
				<color>FFFFFFFF</color>
				<text>Audio</text>
				<font>font1</font>
		</item>
		<item>
				<type>image</type>
				<showID>3</showID>
				<relX>-10</relX>
				<relY>-1</relY>
				<width>410</width>
				<height>20</height>
				<texture>List-Focus</texture>
		</item>
		<item>
				<type>menu</type>
				<showID>3</showID>
				<posX>200</posX>
				<posY>110</posY>
				<vspace>20</vspace>
				<hspace>300</hspace>
				<widthpx>390</widthpx>
				<color>FFFFFFFF</color>
				<highlight>FFFFFFFF</highlight>
				<font>Arial_10</font>
		</item>
		<item>
				<type>text</type>
				<showID>4</showID>
				<posX>50</posX>
				<posY>100</posY>
				<color>FFFFFFFF</color>
				<text>LCD</text>
				<font>font1</font>
		</item>
		<item>
				<type>image</type>
				<showID>4</showID>
				<relX>-10</relX>
				<relY>-1</relY>
				<width>410</width>
				<height>20</height>
				<texture>List-Focus</texture>
		</item>
		<item>
				<type>menu</type>
				<showID>4</showID>
				<posX>200</posX>
				<posY>110</posY>
				<vspace>20</vspace>
				<hspace>280</hspace>
				<widthpx>390</widthpx>
				<color>FFFFFFFF</color>
				<highlight>FFFFFFFF</highlight>
				<font>Arial_10</font>
		</item>
		<item>
				<type>text</type>
				<showID>5</showID>
				<posX>50</posX>
				<posY>100</posY>
				<color>FFFFFFFF</color>
				<text>Network</text>
				<font>font1</font>
		</item>
		<item>
				<type>image</type>
				<showID>5</showID>
				<relX>-10</relX>
				<relY>-1</relY>
				<width>410</width>
				<height>20</height>
				<texture>List-Focus</texture>
		</item>
		<item>
				<type>menu</type>
				<showID>5</showID>
				<posX>200</posX>
				<posY>110</posY>
				<vspace>20</vspace>
				<hspace>300</hspace>
				<widthpx>390</widthpx>
				<color>FFFFFFFF</color>
				<highlight>FFFFFFFF</highlight>
				<font>Arial_10</font>
		</item>
		<item>
				<type>text</type>
				<showID>6</showID>
				<posX>50</posX>
				<posY>100</posY>
				<color>FFFFFFFF</color>
				<text>Skins</text>
				<font>font1</font>
		</item>
		<item>
				<type>image</type>
				<showID>6</showID>
				<relX>-10</relX>
				<relY>-1</relY>
				<width>410</width>
				<height>20</height>
				<texture>List-Focus</texture>
		</item>
		<item>
				<type>menu</type>
				<showID>6</showID>
				<posX>200</posX>
				<posY>120</posY>
				<vspace>20</vspace>
				<hspace>150</hspace>
				<widthpx>390</widthpx>
				<color>FFFFFFFF</color>
				<highlight>FFFFFFFF</highlight>
				<font>Arial_10</font>
		</item>
		<item>
				<type>text</type>
				<showID>6</showID>
				<posX>200</posX>
				<posY>100</posY>
				<color>FFFFFFFF</color>
				<text>Active Skin: ${skin}</text>
				<font>Arial_10</font>
		</item>
		<item>
				<type>text</type>
				<showID>7</showID>
				<posX>50</posX>
				<posY>100</posY>
				<color>FFFFFFFF</color>
				<text>GUI</text>
				<font>font1</font>
		</item>
		<item>
				<type>image</type>
				<showID>7</showID>
				<relX>-10</relX>
				<relY>-1</relY>
				<width>410</width>
				<height>20</height>
				<texture>List-Focus</texture>
		</item>
		<item>
				<type>menu</type>
				<showID>7</showID>
				<posX>200</posX>
				<posY>110</posY>
				<vspace>20</vspace>
				<hspace>300</hspace>
				<widthpx>390</widthpx>
				<color>FFFFFFFF</color>
				<highlight>FFFFFFFF</highlight>
				<font>Arial_10</font>
		</item>
</screen>